<!DOCTYPE html>
<html>
  <head>
    <title><%=user.name%> Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="profile-page">
      <div class="profile-info">
        <p>
          <a href="/account">Account</a>
          <a href="/journals">All Journals</a>
          <a href="/journals/new">New Journal</a>
        </p>
        <h1>Patient Information</h1>
        <h3>Name:</h3>
        <%= user.name %>
        <h3>Email:</h3>
        <%= user.email %>
        <h3>Medications:</h3>
        <%= patient.meds %>
        <h3>Dosage:</h3>
        <%= patient.dosage %>
      </div>
    </div>
  </body>
</html>
