<!DOCTYPE html>
<html>
  <head>
    <title><%=user.name%> Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="profile-page">
      <div class="profile-info">
        <a href="/">Account</a>
        <h1>Patient Information</h1>
        <h3>Name:</h3>
        <%= user.name %>
        <h3>Email:</h3>
        <%= user.email %>
        <% if (patient) { %>
          <h3>Phone Number:</h3>
          <%= patient.phone %>
          <h3>Medications:</h3>
          <%= patient.meds %>
          <h3>Dosage:</h3>
          <%= patient.dosage %>
        <% } else { %>
          <form action="/patient/new" method="POST">
            <div class="patient-form">
              <input name="phone" type="text" placeholder="Phone Number" required>
              <input name="meds" type="text" placeholder="Medications" required>
              <input name="dosage" type="text" placeholder="Dosage" required>
              <input type="submit" value="Submit">
            </div>
          </form>
        <% } %>
      </div>
      <div class="journals">
        <h1>Journals</h1>
        <form action="/journal/new" method="POST">
          <div class="journal-form">
            <input name="title" type="text" placeholder="Subject" required>
            <textarea name="body" rows="10" cols="25" placeholder="Entry" required></textarea>
            <input type="submit" value="Submit">
          </div>
        </form>
        <% if (patient && patient.journals.length != 0) { %>
          <% for (let journal of patient.journals) { %>
            <a href="/journal/<%=journal._id%>"><%=journal.title%></a>
          <% } %>
        <% } %>
      </div>
    </div>
  </body>
</html>
